*{
    background-color: blueviolet;
    color:yellow;
}
.nav{
    color: white;

}
a:hover{
    color:red;
}
li{
    color: rgb(55, 236, 39);
}
p{
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.mountains{ 
    width: 100%;
}
.everest{
    display: flex;
    padding-bottom: 20px;
    width: 60%;
}
